*{
    box-sizing: border-box;
}
body{
    padding: 50px 30%;
    background-color: darkgray;
    position: relative;
    text-align: center;
}
span {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-right: 20px;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 1;
}
img{
    opacity: 1;
    z-index: 131312;
}
.you > div:not(.numy){
    font-size: 0;
}
.comp > div:not(.numc) {
    font-size: 0;
}
#result {
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
    font-size: 30px;
    font-weight: bold;
    color: darkred;
    text-transform: uppercase;
}